<script setup lang="ts">
import { useFoodQueueStore } from "@/stores/foodQueue";

import { mdiCheckboxMarkedCircle, mdiMinusCircle } from "@mdi/js";
import { onMounted } from "vue";

const foodQueueStore = useFoodQueueStore();
// onMounted(async () => {
//   await foodQueueStore.getMyFoodQueue();
// });

function finishCooking(foodQueueId: number) {
  foodQueueStore.finish(foodQueueId);
}

async function cancleMyFoodQueue(foodQueueId: number) {
  foodQueueStore.dialog = true;
  foodQueueStore.canCelId = foodQueueId;
  // foodQueueStore.cancleMyFoodQueue(foodQueueId);
  foodQueueStore.addCancelFood();
}
</script>

<template>
  <v-sheet class="rounded-lg" elevation="4" value="rounded-lg">
    <v-table class="bg-grey-lighten-4" fixed-header height="600">
      <thead>
        <tr>
          <th class="text-center text-h5" style="width: 50%">
            <h6 style="font-size: 15pt">รายการ</h6>
          </th>
          <th class="text-center text-h5" style="width: 10%">
            <h6 style="font-size: 15pt">โต๊ะ</h6>
          </th>
          <th class="text-center" style="width: 40%"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item of foodQueueStore.myFoodQueue"
          :key="item.id"
          style="height: 10vh"
        >
          <td>
            <v-container>
              <v-row style="font-size: large; font-weight: bold"
                ><h6>{{ item.name }}</h6>
              </v-row>
              <v-row
                ><h6 style="font-weight: lighter">
                  หมายเหตุ : {{ item.note }}
                </h6></v-row
              >
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: normal"
                ><h6>{{ item.orderItem?.table?.name }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row class="justify-center">
                <v-btn
                  class="ma-1"
                  rounded="pill"
                  color="error"
                  @click="cancleMyFoodQueue(item.id!)"
                >
                  <h6>ยกเลิก</h6>

                  <v-icon end :icon="mdiMinusCircle"> </v-icon>
                </v-btn>
                <v-btn
                  class="ma-1"
                  rounded="pill"
                  color="secondary"
                  @click="finishCooking(item.id!)"
                >
                  <h6>สำเร็จ</h6>
                  <v-icon end :icon="mdiCheckboxMarkedCircle"> </v-icon>
                </v-btn>
              </v-row>
            </v-container>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-sheet>
</template>

<style scoped>
.btn {
  height: 5vh;
  font-size: 14pt;
}
</style>
