<script setup lang="ts">
import { useFoodStore } from "@/stores/foods";
import { useFoodQueueStore } from "@/stores/foodQueue";

const foodStore = useFoodStore();
const foodQueueStore = useFoodQueueStore();

function cancel() {
  foodQueueStore.dialog = false;
  foodQueueStore.closeMenu = false;
}

async function deleteQueue() {
  foodQueueStore.dialog = false;
  await foodQueueStore.cancle();
  if (foodQueueStore.closeMenu == true) {
    foodStore.foodStatusFalse(foodQueueStore.canCelFood!);
  }
  foodQueueStore.closeMenu = false;
  // foodStore.toggleFoodStatus(foodQueueStore.canCelFood!);
}
</script>

<template>
  <v-dialog v-model="foodQueueStore.dialog" persistent width="auto">
    <v-card>
      <v-card-title>
        <span class="text-h5">ต้องการยกเลิกรายการอาหารหรือไม่ ?</span>
      </v-card-title>
      <v-card-text>
        <v-checkbox
          label="ปิดการสั่งเมนูนี้"
          color="warning"
          v-model="foodQueueStore.closeMenu"
          :disabled="foodQueueStore.canCelFood?.status === false"
        ></v-checkbox>
      </v-card-text>
      <v-card-actions class="justify-end">
        <v-btn variant="text" color="error" class="text-end" @click="cancel()">
          ยกเลิก
        </v-btn>
        <v-btn variant="text" color="info" @click="deleteQueue()">
          ยืนยัน
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped></style>
