<script setup lang="ts">
import Charged from "@/components/Charged.vue";
import { mdiPlus, mdiTableFurniture } from "@mdi/js";
import TableBoxPopCashier from "@/components/TableBoxPopCashier.vue";
import PopupTable from "@/components/PopupTable.vue";
import { usemanagePopupStore } from "@/stores/popupManagement";
import { computed, onMounted, onUnmounted, ref } from "vue";
import { useFoodStore } from "@/stores/foods";
import { useTableStore } from "@/stores/table";
import PopupPayment from "@/components/PopupPayment.vue";
import { useOrderStore } from "@/stores/orders";
const tableStore = useTableStore();
const orderStore = useOrderStore();
const popupTable = usemanagePopupStore();
const foodStore = useFoodStore();
const indexOrder = ref(0);
let statusOrder = ref("");

function selected(id: number) {
  if (statusOrder.value === "ชำระแล้ว") {
    orderStore.popupCashier = false;
  } else {
    orderStore.popupCashier = true;
  }
  indexOrder.value = id;
  console.log(id);
}

function selectOrder(status: string) {
  if (status === "ชำระแล้ว") {
    statusOrder.value = status;
  } else {
    statusOrder.value = status;
  }
}

const colorTable = ref("#b2dfdb");
const borderTable = ref("#00695c");
const cardStyle = computed(() => {
  return `border: solid ${borderTable.value}; background-color: ${colorTable.value}`;
});

function changeColor(status: string): string {
  if (status === "ชำระแล้ว") {
    colorTable.value = "#b2dfdb";
    borderTable.value = "#00695c";
  } else if (status === "ยังไม่ชำระ") {
    colorTable.value = "#FFCCCB";
    borderTable.value = "#FF0000";
  }
  return cardStyle.value;
}

// const fetchRealtimeData = async () => {
//   await orderStore.getOrdersNP();
//   await orderStore.getOrdersHavePaid();
//   await tableStore.getTables();
//   tableStore.indexSelected = 0;
//   orderStore.ordersNP.forEach(async (element) => {
//     // const res = await table element.table?.id;
//     console.log(element.orderItems);
//     // element.table = await tableStore.getTablesNotPaid();
//   });
// };

// // ตั้งค่า interval ให้เรียกใช้ฟังก์ชัน fetchRealtimeData() ทุกๆ 5 วินาที
// const interval = setInterval(fetchRealtimeData, 500);

// onUnmounted(() => clearInterval(interval));

onMounted(async () => {
  await orderStore.getOrdersNP();
  await orderStore.getOrdersHavePaid();
  await tableStore.getTables();
  tableStore.indexSelected = 0;
  orderStore.ordersNP.forEach(async (element) => {
    // const res = await table element.table?.id;
    console.log(element.orderItems);
    // element.table = await tableStore.getTablesNotPaid();
  });
  // console.log(orderStore.ordersNP);
});
</script>

<template>
  <v-container style="height: 90vh">
    <v-row>
      <v-col cols="3" class="text-end">
        <v-card max-width="400" class="mx-auto">
          <v-card color="#48C887">
            <v-card-title>
              <h6 style="font-size: 20pt">จำนวนโต๊ะที่ชำระแล้ว</h6>
            </v-card-title>

            <v-card-subtitle class="pa-4">
              <h6
                v-if="orderStore.ordersHasP.length != 0"
                style="font-size: 20pt"
              >
                {{ orderStore.ordersHasP.length }}&nbsp;โต๊ะ
              </h6>
              <h6 v-else style="font-size: 20pt">ไม่มีโต๊ะค้างชำระ</h6>
              <span></span>
            </v-card-subtitle>

            <v-card-actions>
              <v-btn
                @click="selectOrder('ชำระแล้ว')"
                variant="text"
                :prepend-icon="mdiTableFurniture"
                size="large"
              >
                <h6 style="font-size: 15pt">ดูเลขที่โต๊ะ</h6>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-card>
      </v-col>
      <v-col cols="3" class="text-end">
        <v-card max-width="400" class="mx-auto">
          <v-card color="#C63C3C">
            <v-card-title>
              <h6 style="font-size: 20pt">จำนวนโต๊ะยังไม่ชำระ</h6>
            </v-card-title>

            <v-card-subtitle class="pa-4">
              <h6
                v-if="orderStore.ordersNP.length != 0"
                style="font-size: 20pt"
              >
                {{ orderStore.ordersNP.length }}&nbsp;โต๊ะ
              </h6>
              <h6 v-else style="font-size: 20pt">ไม่มีโต๊ะค้างชำระ</h6>
              <span></span>
            </v-card-subtitle>

            <v-card-actions>
              <v-btn
                @click="selectOrder('ยังไม่ชำระ')"
                variant="text"
                :prepend-icon="mdiTableFurniture"
                size="large"
              >
                <h6 style="font-size: 15pt">ดูเลขที่โต๊ะ</h6>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-card>
      </v-col>
      <v-col cols="3"> </v-col>
    </v-row>
    <v-sheet
      class="rounded-lg pa-2 mt-3"
      elevation="2"
      fluid
      style="
        height: 71vh;
        overflow-x: hidden;
        background-color: rgb(178, 223, 210);
      "
    >
      <v-row justify="start">
        <v-col
          v-for="(item, index) of statusOrder === 'ชำระแล้ว'
            ? orderStore.ordersHasP
            : orderStore.ordersNP"
          :key="index"
          cols="12"
          xs="12"
          sm="12"
          md="3"
          lg="3"
          xl="3"
        >
          <TableBoxPopCashier
            @click="selected(index)"
            :id="index"
            :name="item.table?.name!"
            :amount="item.table?.amount!"
            :total="item.orderItems?.length"
            :style="changeColor(item.status!)"
          >
          </TableBoxPopCashier>
        </v-col>
      </v-row>
    </v-sheet>
  </v-container>

  <PopupPayment :id="indexOrder" style="position: relative">
    <!-- :name="foodStore.foods[indexFood].name" style="position: relative" -->
  </PopupPayment>
</template>

<style scoped></style>
