<script setup lang="ts">
import { useFoodStore } from "@/stores/foods";
import { ref } from "vue";

const foodStore = useFoodStore();
</script>

<template>
  <v-dialog v-model="foodStore.deleteDialog" persistent width="auto">
    <v-card>
      <v-card-title>
        <span class="text-h5">ท่านต้องการลบ </span>
        <span class="text-h5" style="color: red">{{
          foodStore.deleteItemName
        }}</span>
        <span class="text-h5"> หรือไม่ ? </span>
      </v-card-title>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="foodStore.deleteDialog = false">
          ยกเลิก
        </v-btn>
        <v-btn
          color="blue-darken-2"
          variant="tonal"
          @click="foodStore.deleteFood()"
        >
          ยืนยัน
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped></style>
