<script setup lang="ts">
import { mdiPlus } from "@mdi/js";
import { useFoodStore } from "@/stores/foods";
import { onMounted, ref, watch } from "vue";
import FoodDialog from "./FoodDialog.vue";
import DeleteFoodDialog from "./DeleteFoodDialog.vue";

const backendURL = import.meta.env.VITE_BACKEND_URL;
const role = localStorage.getItem("positionForMenu");

const foodStore = useFoodStore();
// const selected = ref(foodStore.selectedFoodType);
onMounted(async () => {
  await foodStore.getFoodsByType();
});
</script>

<template>
  <DeleteFoodDialog></DeleteFoodDialog>
  <FoodDialog></FoodDialog>
  <v-container>
    <v-row justify="stretch">
      <v-col cols="6">
        <h6 style="font-size: 15pt">ประเภท</h6>
        <v-select
          v-model="foodStore.selectedFoodType"
          style="width: 25vw"
          label="เลือกประเภทอาหาร"
          :items="foodStore.foodTypes"
          variant="solo"
        ></v-select>
      </v-col>
      <v-col cols="6" align-self="center" class="text-end">
        <div
          :hidden="
            role === 'พ่อครัว' || role === 'พนักงาน' || role === 'ลูกค้า'
              ? true
              : false
          "
        >
          <v-btn
            class="mr-5"
            width="170px"
            color="primary"
            :prepend-icon="mdiPlus"
            size="large"
            rounded="lg"
            @click="foodStore.dialog = true"
            >เพิ่มเมนูอาหาร
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
  <v-sheet
    class="rounded-lg mx-4 pa-2"
    elevation="2"
    fluid
    style="height: 76vh; overflow: auto; background-color: rgb(178, 223, 210)"
  >
    <v-row no-gutters justify="start">
      <v-col
        class="text-center pa-2"
        v-for="item of foodStore.foodsByType"
        :key="item.id"
        cols="12"
        xs="12"
        sm="6"
        md="4"
        lg="3"
        xl="2"
      >
        <v-card class="mx-1 rounded-lg" elevation="4" height="450">
          <v-img
            class="ma-3 rounded-lg"
            height="200"
            :src="`${backendURL}/foods/${item.id}/image`"
            cover
            style="position: relative"
          >
            <v-switch
              inset
              color="success"
              style="position: absolute; right: 2%; opacity: 1"
              v-model="item.status"
              @click="foodStore.toggleFoodStatus(item)"
            ></v-switch>
          </v-img>
          <v-card-title class="text-h6 pt-2 pb-0">{{ item.name }}</v-card-title>
          <v-card-text class="text-start pl-9 py-0">
            <br />
            <div class="text-subtitle-1">ราคาเริ่มต้น : {{ item.price }}</div>
            <div>ประเภท : {{ item.type }}</div>
            <div style="height: 65px">รายละเอียด : {{ item.info }}</div>
          </v-card-text>
          <div
            :hidden="
              role === 'พ่อครัว' || role === 'พนักงาน' || role === 'ลูกค้า'
                ? true
                : false
            "
          >
            <v-card-actions class="justify-end">
              <v-btn
                variant="text"
                color="error"
                class="text-end"
                @click="foodStore.showDeleteDialog(item.id!, item.name)"
              >
                ลบ
              </v-btn>
              <v-btn
                variant="text"
                color="info"
                @click="foodStore.editFood(item)"
              >
                แก้ไข
              </v-btn>
            </v-card-actions>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<style scoped></style>
