<script setup lang="ts">
import ManageTable from "@/components/ManageTable.vue";
import ManageTableDialog from "@/components/ManageTableDialog.vue";
</script>

<template>
  <ManageTable></ManageTable>
  <ManageTableDialog></ManageTableDialog>
</template>
