<script setup lang="ts">
import ManageMaterial from "@/components/ManageMaterial.vue";
import ManageMaterialDialog from "@/components/ManageMaterialDialog.vue";
</script>

<template>
  <ManageMaterial></ManageMaterial>
  <ManageMaterialDialog></ManageMaterialDialog>
</template>
