<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { mdiTrashCan, mdiPencil, mdiShopping } from "@mdi/js";
import { useFoodStore } from "@/stores/foods";
import { useOrderItemStore } from "@/stores/orderItem";
import NavigationBottom from "@/components/NavigationBottom.vue";
import { usemanagePopupStore } from "@/stores/popupManagement";
import PopupEditOrder from "@/components/PopupEditOrder.vue";
import type OrderItem from "@/types/OrderItem";
import { useNavigationBottonManagement } from "@/stores/navigationBottonManagement";
import { useOrderStore } from "@/stores/orders";
import { useFoodQueueStore } from "@/stores/foodQueue";
import { useTableStore } from "@/stores/table";
import tableService from "@/services/table";
import { useQrCodeStore } from "@/stores/qrcode";
const qrcodeStore = useQrCodeStore();
const tableStore = useTableStore();
const orderStore = useOrderStore();
const foodQueueStore = useFoodQueueStore();
const popupStore = usemanagePopupStore();
const navBottomStore = useNavigationBottonManagement();
const foodStore = useFoodStore();
const popupManagement = usemanagePopupStore();
const orderItemStore = useOrderItemStore();
const controlBtn = ref(false);
const value = ref(1);
function editOrderItem(orderItem: OrderItem, index: number) {
  orderItemStore.addOrderItemSelect(orderItem);
  console.log(orderItem.food);
  orderItemStore.orderItemSelectId = index;
  popupStore.popupEditOrderIsShow = true;
}
function deleteOrderItem(id: number) {
  orderItemStore.deleteOrderItem(id);
  btnConfirm();
}
//คำนวนราคา

const totalPrice = ref(0);
function calPrice(orderItem: OrderItem): number {
  totalPrice.value = orderItem.order?.total!;
  // console.log(totalPrice.value);
  // totalPrice.value += 1;

  return orderItem.price;
}

const btnConfirm = () => {
  const all = orderItemStore.ordersItem.length;
  let count = 0;
  orderItemStore.ordersItem.forEach((element, index) => {
    if (element.foodQueue![index].status === "รอทำ") {
      count++;
    }
  });

  if (all === count) {
    controlBtn.value = true;
  } else {
    controlBtn.value = false;
  }
};
onMounted(async () => {
  btnConfirm();
  qrcodeStore.orderUUID = localStorage.getItem("orderUUID")!;
  qrcodeStore.position = localStorage.getItem("positionQR")!;
  tableStore.getTableSelectedID = parseInt(
    localStorage.getItem("getTableSelectedID")!
  );
  await foodQueueStore.getFoodQueueByOrderId(qrcodeStore.orderUUID);
});

watch(
  () => orderItemStore.ordersItem.length,
  (count) => {
    console.log(`count is: ${count}`);
  }
);
const fetchRealtimeData = async () => {
  await foodQueueStore.getFoodQueueByOrderId(qrcodeStore.orderUUID);
};

// ตั้งค่า interval ให้เรียกใช้ฟังก์ชัน fetchRealtimeData() ทุกๆ 5 วินาที
const interval = setInterval(fetchRealtimeData, 500);
</script>

<template>
  <PopupEditOrder />
  <v-container>
    <v-row class="justify-center">
      <v-col cols="12">
        <v-table id="table" height="70vh" fixed-header>
          <thead style="height: 8vh">
            <tr>
              <th class="text-center">รายการอาหาร</th>
              <th class="text-center justify-center align-center">ราคา</th>
              <th class="text-center">สถานะ</th>
            </tr>
          </thead>
          <tbody style="height: 10vh; overflow-y: auto">
            <tr
              style="text-align: center"
              v-for="(foodQueue, index) in foodQueueStore.foodQueueByOrderId"
              :key="index"
            >
              <!-- <td><h6>{{ item. }}</h6></td> -->
              <td style="text-align: start">
                <h6>{{ foodQueue.name }}</h6>
                <h6 style="font-weight: lighter">
                  หมายเหตุ: {{ foodQueue.orderItem?.note }}
                </h6>
              </td>
              <td>
                <h6>{{ calPrice(foodQueue.orderItem!) }}</h6>
              </td>
              <td>
                <h6>{{ foodQueue.status }}</h6>
              </td>
            </tr>
          </tbody>
          <v-row>
            <v-col> </v-col>
          </v-row>
        </v-table>
      </v-col>
      <h1>Total: {{ totalPrice }}</h1>
    </v-row>

    <NavigationBottom />
  </v-container>
  <v-container>
    <v-row class="justify-center">
      <v-col>
        <div class="text-center" style="padding-top: 10px"></div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00796b;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 12pt;
}

#table tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: beige;
  color: black;
}
</style>
