<script setup lang="ts">
import ManageSalary from "@/components/ManageSalary.vue";
import SaralyDialog from "@/components/SalaryDialog.vue";
import empService from "@/services/employee";
import { useEmployeeStore } from "@/stores/employee";
import { onMounted } from "vue";
const empStore = useEmployeeStore();
onMounted(async () => {
  await empStore.getEmployees();
  console.log("get Emp");
});
</script>
<template>
  <ManageSalary></ManageSalary>
  <SaralyDialog></SaralyDialog>
</template>
