<script setup lang="ts">
import TableBoxPop from "@/components/TableBoxPop.vue";
import PopupTable from "@/components/PopupTable.vue";
import { useTableStore } from "@/stores/table";
import { usemanagePopupStore } from "@/stores/popupManagement";
import { computed, onMounted, ref, watch } from "vue";
import MessageBox from "@/components/MessageBox.vue";
const popupTable = usemanagePopupStore();
const tablestore = useTableStore();

function selected(id: number) {
  tablestore.indexSelected = id;
  popupTable.popupTable = true;
  console.log(id);
  console.log("Xxxxxx");
}
const colorTable = ref("#b2dfdb");
const borderTable = ref("#00695c");
const cardStyle = computed(() => {
  return `border: solid ${borderTable.value}; margin: 10px; background-color: ${colorTable.value}`;
});
// const fetchRealtimeData = async () => {
//   await tablestore.getTables();
//   // finish();
//   console.log("pull");
// };

// // ตั้งค่า interval ให้เรียกใช้ฟังก์ชัน fetchRealtimeData() ทุกๆ 5 วินาที
// const interval = setInterval(fetchRealtimeData, 500);
function changeColor(status: string): string {
  if (status === "พร้อมใช้งาน") {
    colorTable.value = "#b2dfdb";
    borderTable.value = "#00695c";
  } else if (status === "กำลังใช้งาน") {
    colorTable.value = "#FFCCCB";
    borderTable.value = "#FF0000";
  } else if (status === "รอทำความสะอาด") {
    colorTable.value = "#C0C0C0";
    borderTable.value = "#808080";
  } else if (status === "กำลังทำความสะอาด") {
    colorTable.value = "#FFFFE0";
    borderTable.value = "#FFFF00";
  }
  return cardStyle.value;
}

// watch(
//   () => popupManagement.popupTable,
//   () => {
//     statusTable.value = tablestore.tables[tablestore.idSelected].status;
//     if (statusTable.value === "พร้อมใช้งาน") {
//       colorTable.value = "#b2dfdb";
//       borderTable.value = "#00695c";
//     } else if (statusTable.value === "กำลังใช้งาน") {
//       colorTable.value = "#FFCCCB";
//       borderTable.value = "#FF0000";
//     } else if (statusTable.value === "รอทำความสะอาด") {
//       colorTable.value = "#C0C0C0";
//       borderTable.value = "#808080";
//     } else if (statusTable.value === "กำลังทำความสะอาด") {
//       colorTable.value = "#FFFFE0";
//       borderTable.value = "#FFFF00";
//     }
//   }
// );
onMounted(async () => {
  await tablestore.getTables();
  tablestore.indexSelected = 0;
});
</script>

<template>
  <MessageBox></MessageBox>
  <PopupTable
    :id="tablestore.tables[tablestore.indexSelected].id!"
    :name="tablestore.tables[tablestore.indexSelected].name!"
    :amount="tablestore.tables[tablestore.indexSelected].amount!"
    :status="tablestore.tables[tablestore.indexSelected].status!"
    style="position: relative"
  >
  </PopupTable>

  <v-container>
    <v-row justify="start">
      <v-col
        v-for="(item, index) in tablestore.tables"
        :key="index"
        cols="12"
        xs="12"
        sm="12"
        md="3"
        lg="3"
        xl="3"
      >
        <TableBoxPop
          @click="selected(index)"
          :id="item.id!"
          :name="item.name!"
          :amount="item.amount!"
          :status="item.status!"
          :style="changeColor(item.status!)"
        >
        </TableBoxPop>
      </v-col>
    </v-row>
  </v-container>
</template>
