<!-- eslint-disable vue/multi-word-component-names -->
<script setup lang="ts">
import ManageUser from "@/components/ManageUser.vue";
import UserDialog from "@/components/UserDialog.vue";
</script>

<template>
  <ManageUser></ManageUser>
  <UserDialog></UserDialog>
</template>

<style scoped></style>
