<script setup lang="ts">
import { useAppBarStore } from "@/stores/handleAppBar";
import { useLoginStore } from "@/stores/Login";
import { ref } from "vue";
import drawerMenu from "@/components/drawer/DrawerMenu.vue";
import drawerTable from "@/components/drawer/DrawerTable.vue";
import drawerServe from "@/components/drawer/DrawerServe.vue";
import drawerCook from "@/components/drawer/DrawerCook.vue";
import drawerLogout from "@/components/drawer/DrawerLogout.vue";
import drawerCashier from "@/components/drawer/DrawerCashier.vue";
import IntroduceAvatar from "@/components/IntroduceAvatar.vue";
import drawerUser from "@/components/drawer/DrawerUser.vue";
import drawerFood from "@/components/drawer/DrawerFood.vue";
import drawerEmployee from "@/components/drawer/DrawerEmployee.vue";
import drawerSalary from "@/components/drawer/DrawerSalary.vue";
import drawerCheckInOut from "@/components/drawer/DrawerCheckInOut.vue";
import drawerManageTable from "@/components/drawer/DrawerManageTable.vue";
import drawerManageMaterial from "@/components/drawer/DrawerManageMaterial.vue";
import drawerReport from "@/components/drawer/DrawerReport.vue";
import ConfirmLogout from "@/components/ConfirmLogout.vue";
const drawer = ref(true);
const appBarStore = useAppBarStore();
const loginStore = useLoginStore();

const role = localStorage.getItem("positionForMenu");
function logoutDialog() {
  loginStore.dialog = true;
  console.log(loginStore.dialog);
}
</script>
<template>
  <link
    href="https://fonts.googleapis.com/css?family=Noto Sans Thai"
    rel="stylesheet"
  />
  <v-app-bar
    color="teal lighten-3"
    elevation="2"
    dark
    hide-on-scroll
    scroll-target="#scrolling-techniques-4"
    prominent
  >
    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

    <v-avatar color="indigo" class="ml-1">
      <!-- <v-img src="src/assets/img/logo.jpg" cover /> -->
    </v-avatar>

    <p style="font-size: 25px" class="ml-2">
      {{ appBarStore.getTitle() }}
    </p>
    <v-spacer></v-spacer>

    <v-avatar color="indigo" class="mr-1">
      <v-img :src="loginStore.img" alt="" cover />
    </v-avatar>

    <IntroduceAvatar class="mr-1 mt-1"></IntroduceAvatar>
  </v-app-bar>
  <v-navigation-drawer v-model="drawer" location="left">
    <v-list density="comfortable" nav>
      <!-- <div :hidden="loginStore.positionForMenu === '' ? false : true"> -->
      <!-- <v-list-item
        value="menu"
        to="/menu"
        @click="appBarStore.updateTitle('สั่งอาหาร')"
      >
        <drawerMenu></drawerMenu>
      </v-list-item> -->
      <!-- </div> -->

      <div :hidden="role === 'พ่อครัว' || role === 'ผู้บริหาร' ? true : false">
        <v-list-item
          value="table"
          to="/table"
          @click="appBarStore.updateTitle('ดูสถานะ')"
        >
          <drawerTable></drawerTable>
        </v-list-item>
      </div>

      <div :hidden="role === 'พ่อครัว' || role === 'ผู้บริหาร' ? true : false">
        <v-list-item
          value="serve"
          to="/serve"
          @click="appBarStore.updateTitle('เสริฟอาหาร')"
        >
          <drawerServe></drawerServe>
        </v-list-item>
      </div>

      <div :hidden="role === 'พนักงาน' || role === 'ผู้บริหาร' ? true : false">
        <v-list-item
          value="cook"
          to="/cook"
          @click="appBarStore.updateTitle('ทำอาหาร')"
        >
          <drawerCook></drawerCook>
        </v-list-item>
      </div>

      <div :hidden="role === 'พ่อครัว' || role === 'ผู้บริหาร' ? true : false">
        <v-list-item
          value="cashier"
          to="/cashier"
          @click="appBarStore.updateTitle('คิดเงิน')"
        >
          <drawerCashier></drawerCashier>
        </v-list-item>
      </div>

      <div
        :hidden="
          role === 'พ่อครัว' ? true : false || role === 'พนักงาน' ? true : false
        "
      >
        <v-list-item
          value="user"
          to="/user"
          @click="appBarStore.updateTitle('จัดการผู้ใช้')"
        >
          <drawerUser></drawerUser>
        </v-list-item>
      </div>

      <div :hidden="role === 'พนักงาน' ? true : false">
        <v-list-item
          value="food"
          to="/food"
          @click="appBarStore.updateTitle('จัดการเมนู')"
        >
          <drawerFood></drawerFood>
        </v-list-item>
      </div>

      <div
        :hidden="
          role === 'พ่อครัว' ? true : false || role === 'พนักงาน' ? true : false
        "
      >
        <v-list-item
          value="employee"
          to="/employee"
          @click="appBarStore.updateTitle('จัดการพนักงาน')"
        >
          <drawerEmployee></drawerEmployee>
        </v-list-item>
      </div>

      <div
        :hidden="
          role === 'พ่อครัว' ? true : false || role === 'พนักงาน' ? true : false
        "
      >
        <v-list-item
          value="salary"
          to="/salary"
          @click="appBarStore.updateTitle('จัดการเงินเดือน')"
        >
          <drawerSalary></drawerSalary>
        </v-list-item>
      </div>
      <div
        :hidden="
          role === 'พ่อครัว' ? true : false || role === 'พนักงาน' ? true : false
        "
      >
        <v-list-item
          value="manageTable"
          to="/manageTable"
          @click="appBarStore.updateTitle('จัดการโต๊ะ')"
        >
          <drawerManageTable></drawerManageTable>
        </v-list-item>
      </div>

      <div :hidden="role === 'พนักงาน' ? true : false">
        <v-list-item
          value="manageMaterial"
          to="/manageMaterial"
          @click="appBarStore.updateTitle('จัดการวัตถุดิบ')"
        >
          <drawerManageMaterial></drawerManageMaterial>
        </v-list-item>
      </div>

      <div
        :hidden="
          role === 'พ่อครัว' ? true : false || role === 'พนักงาน' ? true : false
        "
      >
        <v-list-item
          value="report"
          to="/report"
          @click="appBarStore.updateTitle('รายงานร้าน')"
        >
          <drawerReport></drawerReport>
        </v-list-item>
      </div>

      <div>
        <v-list-item
          value="checkin-out"
          to="/checkInOut"
          @click="appBarStore.updateTitle('การเข้าออกงาน')"
        >
          <drawerCheckInOut></drawerCheckInOut>
        </v-list-item>
      </div>

      <div>
        <v-list-item value="logout" height="80" @click="logoutDialog()">
          <drawerLogout></drawerLogout>
        </v-list-item>
      </div>
    </v-list>
  </v-navigation-drawer>
  <ConfirmLogout></ConfirmLogout>
</template>

<style scoped>
h1 {
  position: relative;
  left: 60px;
  top: 5px;
  font-size: 40px;
}

p {
  font-family: "Noto Sans Thai";
}
</style>
