<!-- eslint-disable vue/multi-word-component-names -->
<script setup lang="ts">
import { useOrderStore } from "@/stores/orders";
import { useTableStore } from "@/stores/table";
import { useFoodQueueStore } from "@/stores/foodQueue";
import { computed, onMounted, ref } from "vue";
import type Food from "@/types/Food";
import type FoodQueue from "@/types/foodQueue";
import type OrderItem from "@/types/OrderItem";
const tableStore = useTableStore();
const orderStore = useOrderStore();
const foodQueueStore = useFoodQueueStore();

const props = withDefaults(
  defineProps<{
    id: number;
  }>(),
  {}
);

// const now = computed((qty: number) => Date.now());

function getQty() {
  let dish = 0;
  foodQueueStore.payQueue.forEach((element) => {
    dish++;
  });
  return dish;
}

function getTotal() {
  let total = 0;
  foodQueueStore.payQueue.forEach((element) => {
    total += element.orderItem?.price!;
  });
  return total;
}

function getResultFoodQueue(orderItem: OrderItem) {
  let count = 0;
  let i = 0;
  console.log(props.id);
  console.log(orderItem);
  // console.log(orderItem.foodQueue?.length);
  // console.log(orderItem.price);
  for (i = 0; i < orderItem.foodQueue!.length; i++) {
    // console.log(orderItem.name);
    // console.log(orderItem.qty);
    // console.log(orderItem.foodQueue![i]);
    if (orderItem.foodQueue![i].status === "เสิร์ฟสำเร็จ") {
      // console.log("xx");
      count++;
    }
  }
  // console.log(orderItem);
  return count;
}

onMounted(async () => {
  // await foodQueueStore.getFoodQueueNotUnPaid(tableStore.indexSelected + 1);
  // const x = ref<Food>();

  // x.value = orderStore.ordersNP[props.id]?.orderItems[0]?.food;
  // con
  const idOrder = orderStore.ordersNP[props.id]?.id;
  // console.log(idOrder);
  await foodQueueStore.getPayFoodQueue(idOrder, "เสิร์ฟสำเร็จ");
  // console.log(foodQueueStore.payQueue.length);
  // await orderStore.getAllOrderItemsChef();
});
</script>

<template>
  <v-card class="mx-auto" max-width="200vh" rounded height="80%">
    <v-table class="justify-center">
      <v-row>
        <v-col cols="6" style="margin: 1%">
          <th><h6>รายการ</h6></th>
        </v-col>
        <v-col cols="4" style="margin: 1%">
          <th><h6>จำนวน</h6></th>
        </v-col>
        <v-col style="margin: 1%">
          <th><h6>ราคา</h6></th>
        </v-col>
      </v-row>
      <v-divider class="mt-2"></v-divider>
      <v-row
        v-for="(item, index) of orderStore.ordersNP[props.id].orderItems"
        :key="index"
      >
        <v-col cols="6" style="margin: 1%">
          <td>{{ item.name }}</td>
          <v-card-subtitle> หมายเหตุ: {{ item.note }} </v-card-subtitle>
        </v-col>
        <v-col cols="4" style="margin: 1%">
          <td>{{ getResultFoodQueue(item) }}</td>
        </v-col>
        <v-col style="margin: 1%">
          <td>{{ item.price * getResultFoodQueue(item) }}</td>
        </v-col>
      </v-row>
      <v-divider class="mt-2"></v-divider>
      <v-divider class="mt-2"></v-divider>
      <v-row style="src: 50px; width: 100%">
        <v-container>
          <v-row class="justify-md-start">
            <!-- <v-col cols="6" md="4" style="margin: 10px">
                <v-btn style="background-color: forestgreen; color: white"
                  >ชำระเงิน</v-btn
                >
              </v-col> -->
            <v-col cols="6" style="margin: 1%">
              <td><h6>รวมทั้งหมด</h6></td>
              <!-- <v-card-subtitle> หมายเหตุ: {{ item.note }} </v-card-subtitle> -->
            </v-col>
            <v-col cols="4" style="margin: 1%; padding-left: 25px">
              <td>
                <h6>{{ getQty() }}</h6>
              </td>
            </v-col>
            <v-col style="margin: 1%; padding-left: 35px">
              <td>
                <h6>{{ getTotal() }}</h6>
              </td>
            </v-col>
          </v-row>
          <v-divider></v-divider>
        </v-container>
      </v-row>
    </v-table>
  </v-card>
</template>

<style scoped></style>
