<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useCheckInOutStore } from "@/stores/checkInOut";
import VueDatePicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import { useUserStore } from "@/stores/users";
const checkInOutStore = useCheckInOutStore();
const userStore = useUserStore();
const isWrong = ref(false);
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    const res = await checkInOutStore.saveCheckInOut();
    console.log("debug: " + res);
    if (res !== false) {
      console.log("true เก่งมาก");
      checkInOutStore.dialog = false;
    } else {
      console.log("false");
      isWrong.value = true;
      setTimeout(() => {
        isWrong.value = false;
      }, 1000);
    }
  }
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="checkInOutStore.dialog" persistent>
      <v-card :class="{ 'shake-dialog': isWrong }">
        <v-card-title>
          <span class="text-h5">การเข้าออกงาน</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="ชื่อผู้ใช้*"
                    v-model="checkInOutStore.editedCheckInOut.username"
                    :rules="[
                      (v) => !!v || 'ชื่อผู้ใช้จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 ||
                        'ชื่อผู้ใช้จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="รหัสผ่าน*"
                    v-model="checkInOutStore.editedCheckInOut.password"
                    type="password"
                    :rules="[
                      (v) => !!v || 'รหัสผ่านจะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 8 ||
                        'รหัสผ่านจะต้องมีขนาดมากกว่าหรือเท่ากับ 8 ตัวอักษร',
                      (v) =>
                        /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(
                          v
                        ) ||
                        'รหัสผ่านจะต้องมี ตัวอักษร เลขใหญ่ และประกอบด้วย Special Character',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>

          <small>*ระบุช่องที่ต้องกรอก</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-4"
            variant="text"
            @click="checkInOutStore.dialog = false"
          >
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped>
.shake-dialog {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
</style>
