<script setup lang="ts">
import { ref } from "vue";
import { usemanagePopupStore } from "@/stores/popupManagement";
import { useFoodStore } from "@/stores/foods";
import { useSelectStore } from "@/stores/selectMenu";
const popupManagement = usemanagePopupStore();
const selectMenu = useSelectStore();
const foodStore = useFoodStore();
const props = withDefaults(
  defineProps<{
    id: number;
    name: string;
    img: string;
    type: string;
    status: boolean;
    price: number;
    // index: number;
  }>(),
  {}
);
const elevationIntentsity = ref(0);

// const emits = defineEmits<{
//   (e: "change", index: number, rating: number): void;
// }>();

const count = ref(props.type);

const selectedMenu = () => {
  selectMenu.selectedID = props.id;
  foodStore.showPopupFood();
};

function onOver() {
  elevationIntentsity.value = 10;
}
function onLeave() {
  elevationIntentsity.value = 0;
}
const backendURL = import.meta.env.VITE_BACKEND_URL;

function delay(arg0: number) {
  throw new Error("Function not implemented.");
}
</script>

<template>
  <v-card
    class="mx-auto"
    width="100%"
    variant="outlined"
    @click="selectedMenu()"
    :elevation="elevationIntentsity"
    @mouseenter="onOver()"
    @mouseleave="onLeave()"
    :disabled="props.status === false"
    :color="props.status === false ? 'red' : ''"
  >
    <v-container fluid>
      <v-row>
        <v-col cols="5" md="2">
          <!-- <v-container style="width: 11rem"> -->
          <v-img
            cover
            class="border-solid;"
            style="border-color: grey; width: 15vh; height: 10vh"
            :src="`${backendURL}/foods/image/${props.img}`"
          ></v-img>
          <!-- </v-container> -->
        </v-col>
        <v-col>
          <h6>ชื่อ : {{ props.name }}</h6>
          <h6>ประเภท : {{ props.type }}</h6>
          <h6>ราคาเริ่มต้น : {{ props.price }}</h6>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
  <link
    href="https://fonts.googleapis.com/css?family=Noto Sans Thai"
    rel="stylesheet"
  />
</template>

<style>
h6 {
  font-family: "Noto Sans Thai";

  font-size: 1rem;
}

h2,
h3,
h4 {
  font-size: 1.1rem;
}
</style>
