<script setup lang="ts">
import { useSalaryStore } from "@/stores/salary";
import { mdiPencil, mdiTrashCan, mdiPlus, mdiCash } from "@mdi/js";
import { onMounted, ref } from "vue";
const sumhour = ref(0);
const sumBalance = ref(0);
const salaryStore = useSalaryStore();
const fetchRealtimeData = async () => {
  await salaryStore.getEmpByName();
  salaryStore.calHour();
  salaryStore.calBalance();

  // finish();
  console.log("pull");
};

// ตั้งค่า interval ให้เรียกใช้ฟังก์ชัน fetchRealtimeData() ทุกๆ 5 วินาที
const interval = setInterval(fetchRealtimeData, 500);
onMounted(async () => {
  await salaryStore.getSalary();
  await salaryStore.getEmp();
  salaryStore.calHour();
  salaryStore.calBalance();
});
</script>
<template>
  <v-container class="mt-2" style="height: 90vh">
    <v-row>
      <v-col cols="6">
        <h6 style="font-size: 15pt">รายชื่อพนักงาน</h6>
        <v-select
          v-model="salaryStore.selectedNameEmp"
          style="width: 25vw"
          label="เลือกพนักงาน"
          :items="salaryStore.empName"
          variant="solo"
        ></v-select>
      </v-col>
      <!-- <v-col cols="3" offset="9">
        <v-btn
          color="primary"
          :prepend-icon="mdiPlus"
          @click="salaryStore.dialog = true"
          class="ma-2"
          rounded="pill"
          ><h6>เพิ่มผู้ใช้</h6></v-btn
        >
      </v-col> -->
    </v-row>

    <v-container
      style="
        height: 50vh;
        overflow-y: auto;
        background-color: rgb(178, 223, 210);
      "
    >
      <v-table class="bg-grey-lighten-4" fixed-header>
        <thead>
          <tr>
            <th class="text-center text-h5" style="width: 10%">
              <h6 style="font-size: 15pt">ชื่อ</h6>
            </th>
            <th class="text-center text-h5" style="width: 10%">
              <h6 style="font-size: 15pt">นามสกุล</h6>
            </th>
            <th class="text-center text-h5" style="width: 10%">
              <h6 style="font-size: 15pt">จำนวนชั่วโมง</h6>
            </th>
            <th class="text-center text-h5" style="width: 10%">
              <h6 style="font-size: 15pt">รายได้/ชั่วโมง</h6>
            </th>
            <th class="text-center text-h5" style="width: 10%">
              <h6 style="font-size: 15pt">รวม (บาท)</h6>
            </th>
            <th class="text-center" style="width: 20%"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="!salaryStore.havePayMent()">
            <th style="text-align: center" colspan="6">
              <h6>{{ "ไม่มีข้อมูลการจ่ายเงินเดือน" }}</h6>
            </th>
          </tr>
          <template v-for="item of salaryStore.salarys" :key="item.id">
            <tr v-if="item.status !== 'ชำระแล้ว' && item.hour !== 0">
              <td>
                <v-container>
                  <v-row
                    justify="center"
                    style="font-size: large; font-weight: bold"
                    ><h6>{{ item.employee?.firstname }}</h6>
                  </v-row>
                </v-container>
              </td>
              <td>
                {{}}
                <v-container>
                  <v-row
                    justify="center"
                    style="font-size: large; font-weight: bold"
                    ><h6>{{ item.employee?.lastname }}</h6>
                  </v-row>
                </v-container>
              </td>
              <td>
                <v-container>
                  <v-row
                    justify="center"
                    style="font-size: large; font-weight: bold"
                    ><h6>{{ item.hour }}</h6>
                  </v-row>
                </v-container>
              </td>
              <td>
                <v-container>
                  <v-row
                    justify="center"
                    style="font-size: large; font-weight: bold"
                    ><h6>{{ item.employee?.hourrate }}</h6>
                  </v-row>
                </v-container>
              </td>
              <td>
                <v-container>
                  <v-row
                    justify="center"
                    style="font-size: large; font-weight: bold"
                    ><h6>{{ item.employee!.hourrate * item.hour! }}</h6>
                  </v-row>
                </v-container>
              </td>

              <td>
                <v-container>
                  <v-row class="justify-center">
                    <v-btn
                      class="ma-1"
                      rounded="pill"
                      color="yellow"
                      @click="salaryStore.payByIndividual(item)"
                      ><h6>จ่าย</h6>

                      <v-icon end :icon="mdiCash"> </v-icon>
                    </v-btn>
                  </v-row>
                </v-container>
              </td>
            </tr>
          </template>
        </tbody>
      </v-table>
    </v-container>
    <v-container v-if="salaryStore.havePayMent()">
      <v-row class="justify-center">
        <v-col offset="5">
          <v-btn
            @click="salaryStore.payAll()"
            height="50"
            width="200"
            class="ma-1"
            color="primary"
            ><h6>จ่ายทั้งหมด</h6>
            <v-icon :size="40" end :icon="mdiCash"> </v-icon> </v-btn
        ></v-col>
        <v-col>
          <h6 class="mt-5" style="font-size: 15pt">
            ชั่วโมงรวมทั้งหมด : {{ salaryStore.calHour() }} ชั่วโมง
          </h6>
          <h6 class="mt-5" style="font-size: 15pt">
            จ่ายทั้งหมด :
            {{ salaryStore.calBalance() }} บาท
          </h6>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>
