<script setup lang="ts">
import { mdiPencil, mdiTrashCan, mdiPlus } from "@mdi/js";
import { useEmployeeStore } from "@/stores/employee";
import { onMounted } from "vue";
import type Employee from "@/types/employee";

const employeeStore = useEmployeeStore();

onMounted(async () => {
  await employeeStore.getEmployees();
});
function edit(emp: Employee) {
  console.log("sds");
  employeeStore.editEmployeekub(emp);
  employeeStore.dialog = true;
}
</script>
<template>
  <v-container class="mt-2">
    <v-row>
      <v-col cols="3" offset="9">
        <v-btn
          color="primary"
          :prepend-icon="mdiPlus"
          @click="employeeStore.dialog = true"
          class="ma-2"
          rounded="pill"
          ><h6>เพิ่มผู้ใช้</h6></v-btn
        >
      </v-col>
    </v-row>
  </v-container>
  <v-sheet
    class="rounded-lg"
    elevation="4"
    value="rounded-lg"
    style="height: 100vh"
  >
    <v-table class="bg-grey-lighten-4" fixed-header>
      <thead>
        <tr>
          <th class="text-center text-h5" style="width: 2%">
            <h6 style="font-size: 15pt">ID</h6>
          </th>
          <th class="text-center text-h5" style="width: 13%">
            <h6 style="font-size: 15pt">ชื่อ</h6>
          </th>
          <th class="text-center text-h5" style="width: 13%">
            <h6 style="font-size: 15pt">นามสกุล</h6>
          </th>
          <th class="text-center text-h5" style="width: 5%">
            <h6 style="font-size: 15pt">อายุ</h6>
          </th>
          <th class="text-center text-h5" style="width: 17%">
            <h6 style="font-size: 15pt">หมายเลขประจำตัว</h6>
          </th>
          <th class="text-center text-h5" style="width: 10%">
            <h6 style="font-size: 15pt">อีเมล</h6>
          </th>
          <th class="text-center text-h5" style="width: 15%">
            <h6 style="font-size: 15pt">วันเกิด</h6>
          </th>
          <th class="text-center text-h5" style="width: 25%">
            <h6 style="font-size: 15pt">ตำแหน่ง</h6>
          </th>
          <th class="text-center text-h5" style="width: 5%">
            <h6 style="font-size: 15pt">จำนวนชั่วโมง</h6>
          </th>
          <th class="text-center" style="width: 5%"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of employeeStore.employess" :key="item.id">
          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.id }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.firstname }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.lastname }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.age }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.identityNum }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.email }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.birthday }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.role }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.hourrate }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row class="justify-center">
                <v-btn
                  class="ma-1"
                  rounded="pill"
                  color="secondary"
                  :icon="mdiPencil"
                  @click="edit(item)"
                >
                </v-btn>
                <v-btn
                  class="ma-1"
                  rounded="pill"
                  color="error"
                  :icon="mdiTrashCan"
                  @click="employeeStore.deleteEmployee(item.id!)"
                >
                  <v-icon :icon="mdiTrashCan"> </v-icon>
                </v-btn>
              </v-row>
            </v-container>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-sheet>
</template>
