<script setup lang="ts">
import { mdiPencil, mdiTrashCan, mdiPlus } from "@mdi/js";
import { useUserStore } from "@/stores/users";
import type User from "@/types/User";
import { onMounted, ref } from "vue";
import ConfirmDialog from "./ConfirmDialog.vue";

const backendURL = import.meta.env.VITE_BACKEND_URL;
const userStore = useUserStore();
const confirmDlg = ref();
onMounted(async () => {
  await userStore.getUsers();
});

const deleteUser = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "⚠️ยืนยันการลบข้อมูลผู้ใช้",
      `คุณต้องการลบผู้ใช้ id ที่ ${id} หรือไม่`
    );
    await userStore.deleteUser(id);
  } catch (e) {
    /* empty */
  }
};
</script>

<template>
  <!-- <v-container class="mt-2">
    <v-row>
      <v-col cols="3" offset="9">
        <v-btn
          color="primary"
          :prepend-icon="mdiPlus"
          @click="userStore.dialog = true"
          class="ma-2"
          rounded="pill"
          ><h6>เพิ่มผู้ใช้</h6></v-btn
        >
      </v-col>
    </v-row>
  </v-container> -->

  <!-- <v-sheet
    class="rounded-lg"
    elevation="4"
    value="rounded-lg"
    style="height: 100vh"
  >
    <v-table class="bg-grey-lighten-4" fixed-header>
      <thead>
        <tr>
          <th class="text-center text-h5" style="width: 10%">
            <h6 style="font-size: 15pt">ID</h6>
          </th>
          <th class="text-center text-h5" style="width: 10%">
            <h6 style="font-size: 15pt">ชื่อ</h6>
          </th>
          <th class="text-center text-h5" style="width: 10%">
            <h6 style="font-size: 15pt">ชื่อผู้ใช้</h6>
          </th>
          <th class="text-center text-h5" style="width: 10%">
            <h6 style="font-size: 15pt">ตำแหน่ง</h6>
          </th>
          <th class="text-center text-h5" style="width: 15%">
            <h6 style="font-size: 15pt">รูปภาพ</h6>
          </th>
          <th class="text-center" style="width: 40%"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of userStore.users" :key="item.id">
          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.id }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.name }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.login }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.position }}</h6>
              </v-row>
            </v-container>
          </td>
          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><v-img
                  class="ma-3 rounded-lg"
                  height="75"
                  :src="`${backendURL}/users/image/${item.img}`"
                  cover
                >
                </v-img>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row class="justify-center">
                <v-btn
                  class="ma-1"
                  rounded="pill"
                  color="secondary"
                  @click="userStore.editUser(item)"
                  ><h6>แก้ไข</h6>

                  <v-icon end :icon="mdiPencil"> </v-icon>
                </v-btn>
                <v-btn
                  class="ma-1"
                  rounded="pill"
                  color="error"
                  @click="deleteUser(item.id!)"
                  ><h6>ลบ</h6>

                  <v-icon end :icon="mdiTrashCan"> </v-icon>
                </v-btn>
              </v-row>
            </v-container>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-sheet> -->

  <v-container>
    <v-row justify="stretch">
      <v-col cols="12" align-self="center" class="text-end">
        <v-btn
          class="mt-5"
          color="primary"
          :prepend-icon="mdiPlus"
          size="large"
          rounded="lg"
          @click="userStore.dialog = true"
          ><h6 style="font-size: 15pt">เพิ่มผู้ใช้</h6>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>

  <v-sheet
    class="rounded-lg mx-4 pa-2"
    elevation="2"
    fluid
    style="height: 76vh; overflow: auto; background-color: rgb(178, 223, 210)"
  >
    <v-table class="bg-grey-lighten-4" fixed-header height="73vh">
      <thead>
        <tr>
          <th class="text-center text-h5">
            <h6 style="font-size: 15pt">ID</h6>
          </th>
          <th class="text-center text-h5">
            <h6 style="font-size: 15pt">ชื่อ</h6>
          </th>
          <th class="text-center text-h5">
            <h6 style="font-size: 15pt">ชื่อผู้ใช้</h6>
          </th>
          <th class="text-center text-h5">
            <h6 style="font-size: 15pt">ตำแหน่ง</h6>
          </th>
          <th class="text-center text-h5">
            <h6 style="font-size: 15pt">รูปภาพ</h6>
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="item of userStore.users" :key="item.id">
          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.id }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.name }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.login }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><h6>{{ item.position }}</h6>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row
                justify="center"
                style="font-size: large; font-weight: bold"
                ><v-img
                  class="ma-3 rounded-lg"
                  height="75"
                  :src="`${backendURL}/users/image/${item.img}`"
                  cover
                >
                </v-img>
              </v-row>
            </v-container>
          </td>

          <td>
            <v-container>
              <v-row class="justify-center">
                <v-btn
                  class="ma-1"
                  rounded="pill"
                  color="secondary"
                  @click="userStore.editUser(item)"
                  ><h6>แก้ไข</h6>

                  <v-icon end :icon="mdiPencil"> </v-icon>
                </v-btn>
                <v-btn
                  class="ma-1"
                  rounded="pill"
                  color="error"
                  @click="deleteUser(item.id!)"
                  ><h6>ลบ</h6>

                  <v-icon end :icon="mdiTrashCan"> </v-icon>
                </v-btn>
              </v-row>
            </v-container>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-sheet>

  <confirm-dialog ref="confirmDlg"></confirm-dialog>
</template>

<style scoped>
.btn {
  height: 5vh;
  font-size: 14pt;
}
</style>
