<script setup lang="ts">
import { mdiFood, mdiPencil, mdiShopping, mdiListBox } from "@mdi/js";
import { useNavigationBottonManagement } from "@/stores/navigationBottonManagement";
import { useOrderItemStore } from "@/stores/orderItem";
import { useTableStore } from "@/stores/table";
import { computed, onMounted, ref, watch } from "vue";
import { useFoodQueueStore } from "@/stores/foodQueue";
import { useQrCodeStore } from "@/stores/qrcode";
import { useOrderStore } from "@/stores/orders";
const orderStore = useOrderStore();
const navigationBottonManagementStore = useNavigationBottonManagement();
const orderItemStore = useOrderItemStore();
const tableStore = useTableStore();
const foodQueueStore = useFoodQueueStore();
const qrcodeStore = useQrCodeStore();
onMounted(async () => {
  // calList();
  await foodQueueStore.getFoodQueueNotUnPaid(tableStore.indexSelected + 1);
});

// const now = computed(() => {
//   let totalCount = 0;
//   const selectedTable = tableStore.tables[tableStore.indexSelected];
//   if (selectedTable.order) {
//     selectedTable.order.forEach((order) => {
//       order.orderItems?.forEach((orderItem) => {
//         totalCount += orderItem.qty;
//       });
//     });
//   }
//   return totalCount;
// });

const listCount = ref(0);
</script>
<template>
  <v-bottom-navigation
    v-model="navigationBottonManagementStore.value"
    bg-color="teal lighten-3"
    color="white"
    dark
    shift
    height="50"
  >
    <v-row class="justify-space-around">
      <v-btn
        class="mt-0"
        block
        :to="`/menu${qrcodeStore.position}/` + qrcodeStore.orderUUID"
        :prepend-icon="mdiFood"
      >
        <h6>อาหาร</h6>
      </v-btn>

      <v-btn
        class="mt-1"
        block
        :to="`/trolley${qrcodeStore.position}/` + qrcodeStore.orderUUID"
        :prepend-icon="mdiShopping"
      >
        <v-row>
          <v-col> <h6>ตะกร้า</h6> </v-col>
          <v-col
            ><v-badge
              v-if="orderStore.order?.orderItems?.length! > 0"
              class="pb-5"
              :content="orderStore.order?.orderItems?.length!"
              color="red"
              offset-x="10"
            >
            </v-badge
          ></v-col>
        </v-row>
      </v-btn>
      <v-btn
        class="mt-1"
        block
        :to="`/order${qrcodeStore.position}/` + qrcodeStore.orderUUID"
        :prepend-icon="mdiListBox"
      >
        <v-row>
          <v-col cols="6"> <h6>รายการ</h6> </v-col>
          <v-col cols="6"
            ><v-badge
              v-if="foodQueueStore.foodQueueByOrderId.length"
              class="pb-5"
              :content="foodQueueStore.foodQueueByOrderId.length"
              color="red"
              offset-x="-20"
              offset-y="-2"
            >
            </v-badge
          ></v-col>
        </v-row>
      </v-btn>
    </v-row>
  </v-bottom-navigation>
</template>
