<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { usemanagePopupStore } from "@/stores/popupManagement";
import { useFoodStore } from "@/stores/foods";
import { useTableStore } from "@/stores/table";
import { useSelectStore } from "@/stores/selectMenu";
import Charged from "@/components/Charged.vue";
import PopupCash from "./PopupCash.vue";
import { usecashPopupStore } from "@/stores/popupCash";
import type PopupCashVue from "./PopupCash.vue";
import { useFoodQueueStore } from "@/stores/foodQueue";
import { useOrderStore } from "@/stores/orders";
const foodStore = useFoodStore();
const foodQueueStore = useFoodQueueStore();
const orderStore = useOrderStore();
const tablestore = useTableStore();
const selected = useSelectStore();
const popupManagement = usemanagePopupStore();
const popupCash = usecashPopupStore();

const props = withDefaults(
  defineProps<{
    id: number;
  }>(),
  {}
);

function payOrderByCash() {
  popupCash.dialog = true;
}

onMounted(async () => {
  console.log(props.id);
});
</script>

<template>
  <PopupCash :id="props.id"></PopupCash>
  <v-row justify="center">
    <v-dialog v-model="orderStore.popupCashier">
      <v-container>
        <v-card
          class="mx-auto"
          max-width="80vh"
          max-height="90vh"
          rounded
          style="overflow-y: auto"
        >
          <v-card-title class="text-center"
            ><h6>
              หมายเลขออเดอร์ <br />
              {{ orderStore.ordersNP[props.id].id! }}
            </h6>
          </v-card-title>

          <v-card-subtitle>
            <!-- {{ tablestore.tables[selected.selectedID].name }} -->
          </v-card-subtitle>
          <v-container>
            <Charged :id="props.id"></Charged>
          </v-container>

          <v-container>
            <v-row>
              <v-col cols="8" class="mx-auto"
                ><v-btn
                  text
                  @click="orderStore.popupCashier = false"
                  color="error"
                  >ยกเลิก</v-btn
                ></v-col
              >
              <v-col cols="2"
                ><v-btn rounded="pill" color="purple" @click="payOrderByCash()">
                  เงินสด
                </v-btn></v-col
              >
              <v-col cols="2"
                ><v-btn rounded="pill" color="purple"> QR-CoDE </v-btn></v-col
              >
            </v-row>
          </v-container>
        </v-card>
      </v-container>
    </v-dialog>
  </v-row>
</template>

<style scoped>
img {
  margin: 20px 20px;
}
</style>
