<script setup lang="ts">
import { onMounted, ref } from "vue";
import orderService from "@/services/order";
import { usecashPopupStore } from "@/stores/popupCash";
import tableService from "@/services/table";
import { useOrderStore } from "@/stores/orders";
import type Table from "@/types/Table";
import { useFoodQueueStore } from "@/stores/foodQueue";
import type { VForm } from "vuetify/components";
const popupCash = usecashPopupStore();
const foodQueueStore = useFoodQueueStore();
const orderStore = useOrderStore();
const form = ref<VForm | null>(null);
function getTotal() {
  let total = 0;
  foodQueueStore.payQueue.forEach((element) => {
    total += element.orderItem?.price!;
  });
  return total;
}

function getQty() {
  let dish = 0;
  foodQueueStore.payQueue.forEach((element) => {
    dish++;
  });
  return dish;
}

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    await orderStore.payOrderByCash(
      orderStore.ordersNP[props.id].id!,
      getQty(),
      getTotal()
    );
    // await orderService.updateOrder(
    //   orderStore.ordersNP[props.id].id!,
    //   orderStore.ordersNP[props.id]
    // );

    await updateStatusTable();
    popupCash.dialog = false;
    orderStore.popupCashier = false;
    await orderStore.getOrdersNP();
    await orderStore.getOrdersHavePaid();
  }
};

const props = withDefaults(
  defineProps<{
    id: number;
  }>(),
  {}
);

async function updateStatusTable() {
  const tablePaid = ref<Table>();
  console.log(orderStore.ordersNP);
  const res = await tableService.getTable(
    orderStore.ordersNP[props.id].table?.id!
  );
  tablePaid.value = res.data;
  tablePaid.value!.status = "รอทำความสะอาด";
  // console.log(res.data);
  await tableService.updateTable(tablePaid.value?.id!, tablePaid.value!);
}

onMounted(async () => {
  await orderStore.getOrdersNP();
  const idOrder = await orderStore.ordersNP[props.id]?.id;
  console.log(orderStore.ordersNP);
  await foodQueueStore.getPayFoodQueue(idOrder, "เสิร์ฟสำเร็จ");
});
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="popupCash.dialog" width="45vw" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">Cash Profile</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="ใส่จำนวนเงิน*"
                    type="number"
                    :rules="[
                      (v) => !!v || 'ใส่จำนวนเงิน จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        (v >= getTotal() && v != 0) ||
                        'จำนวนเงินน้อยกว่าราคารวม!!! กรุณากรอกเงินตามจำนวนหรือมากกว่า',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>

          <small>*กรุณาใส่จำนวนเงิน (ตัวเลข)</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-4"
            variant="text"
            @click="popupCash.dialog = false"
          >
            ปิด
          </v-btn>
          <v-btn @click="save()" color="blue-darken-1" variant="text">
            จ่ายเงิน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
