<script setup lang="ts">
import { ref, watch, computed } from "vue";
import { usemanagePopupStore } from "@/stores/popupManagement";
import { useFoodStore } from "@/stores/foods";
import { useSelectStore } from "@/stores/selectMenu";
import type Food from "@/types/Food";
import { useOrderItemStore } from "@/stores/orderItem";
import type OrderItem from "@/types/OrderItem";
import { useOrderStore } from "@/stores/orders";
import { useQrCodeStore } from "@/stores/qrcode";
import { useTableStore } from "@/stores/table";
import { useMessageStore } from "@/stores/message";
import { useNavigationBottonManagement } from "@/stores/navigationBottonManagement";

const foodStore = useFoodStore();
const tableStore = useTableStore();

const qrcodeStore = useQrCodeStore();
const messageStore = useMessageStore();
const orderStore = useOrderStore();
const navBottomStore = useNavigationBottonManagement();
const selected = useSelectStore();
const popupManagement = usemanagePopupStore();
const orderItemStore = useOrderItemStore();
const order = ref<Food>();
const backendURL = import.meta.env.VITE_BACKEND_URL;
const noteText = ref("");
const sumPrice = ref(foodStore.foodSelected?.price);

var sumTemp = 0;
const add = () => {
  popupManagement.piece += 1;
  popupManagement.sum = popupManagement.piece * foodStore.foodSelected!.price;
  console.log(selected.selectedID);
};
const remove = () => {
  console.log(selected.selectedID);
  if (popupManagement.piece - 1 == 0) {
    popupManagement.piece = 1;
    return;
  } else {
    popupManagement.piece -= 1;
    popupManagement.sum -= foodStore.foodSelected!.price;
  }
  console.log("piece" + popupManagement.piece);
};
const checked = ref([]);

function cancel() {
  popupManagement.switchOffPopup();
  popupManagement.piece = 1;
  noteText.value = "";
  // popupManagement.sum = foodStore.foods[selected.selectedID].price;
}
function xxx() {
  // popupManagement.sum += x;
  console.log(popupManagement.sum);
}
async function addOrderItem() {
  const orderItem: OrderItem = {
    id: -1,
    name: foodStore.foodSelected!.name,
    food: foodStore.foodSelected,
    note: noteText.value,
    status: "รอยืนยัน",
    table: tableStore.tables[tableStore.getTableSelectedID - 1],
    qty: popupManagement.piece,
    price: popupManagement.sum,
    // status: "รอยืนยัน",
    // foodQueue: {
    //   status: "รอยืนยัน",
    //   name: "kkkk",
    // },
  };
  navBottomStore.badgeTrolley += orderItem.qty;
  // orderItemStore.addOrderItem(orderItem);
  // if (
  //   // (await orderItemStore.addFood(
  //   //   qrcodeStore.orderUUID,
  //   //   tableStore.tables[tableStore.getTableSelectedID - 1],
  //   //   orderItem
  //   // )) === false
  // )
  {
    messageStore.message = "โต๊ะไม่พร้อมใช้งานในขณะนี้";
    messageStore.isShow = true;
    console.log("แสดง message error");
  }

  // else {
  //   var count = 0;
  //   for (let i = 0; i < orderItemStore.ordersItem.length; i++) {
  //     if (
  //       orderItemStore.ordersItem[i].note === noteText.value &&
  //       orderItemStore.ordersItem[i].name === foodStore.foodSelected!.name &&
  //       orderItemStore.ordersItem[i].foodQueue?.status !== "รอทำ"
  //     ) {
  //       orderItemStore.ordersItem[i].price += popupManagement.sum;
  //       orderItemStore.ordersItem[i].qty += popupManagement.piece;
  //       break;
  //     } else {
  //       count++;
  //     }
  //   }
  //   if (count === orderItemStore.ordersItem.length) {
  //     // console.log(foodStore.foodSelected!.img);
  //     navBottomStore.badgeTrolley += 1;
  //     const orderIT: OrderItem = {
  //       id: -1,
  //       name: foodStore.foodSelected!.name,
  //       food: foodStore.foodSelected,
  //       note: noteText.value,
  //       table: {
  //         status: "",
  //       },
  //       qty: popupManagement.piece,
  //       price: popupManagement.sum,
  //       // status: "รอยืนยัน",
  //       foodQueue: {
  //         status: "รอยืนยัน",
  //         name: foodStore.foodSelected!.name,
  //       },
  //     };
  //     orderItemStore.addOrderItem(orderIT);
  //   }
  // }

  noteText.value = "";
  popupManagement.popupMenuIsShow = false;
  popupManagement.piece = 1;
  popupManagement.sum = foodStore.foodSelected!.price;
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="popupManagement.popupMenuIsShow" persistent>
      <v-container>
        <v-row>
          <v-col>
            <!-- <v-card> -->
            <v-card
              class="mx-auto"
              max-width="50vh"
              rounded
              style="height: 82vh; overflow-y: auto"
            >
              <v-img
                :src="`${backendURL}/foods/${selected.selectedID}/image`"
                width="100%"
                height="40vh"
                cover
              ></v-img>

              <v-card-title
                ><h6 style="font-size: 20pt">
                  {{ foodStore.foodSelected?.name }}
                </h6>
              </v-card-title>

              <v-card-subtitle
                ><h6 style="font-weight: lighter">
                  {{ foodStore.foodSelected?.info }}
                </h6>
              </v-card-subtitle>
              <v-divider class="mt-2"></v-divider>
              <v-container>
                <v-row>
                  <v-col cols="6">
                    <v-btn block @click="remove"><h6>ลด</h6> </v-btn></v-col
                  >
                  <v-col cols="6"
                    ><v-btn block @click="add"><h6>เพิ่ม</h6> </v-btn></v-col
                  >
                </v-row>
                <v-row>
                  <v-container>
                    <!-- <v-row class="justify-space-around">
                      <v-col
                        class="pa-0"
                        v-for="(item, index) in foodStore.foods[
                          selected.selectedID
                        ].option"
                        :key="index"
                        cols="12"
                        md="4"
                        ><h6>
                          <v-checkbox
                            :label="`${item.name} ` + `${item.price}`"
                            :value="item.name"
                            v-model="checked"
                          ></v-checkbox>
                        </h6>
                      </v-col>
                    </v-row> -->
                    <v-divider></v-divider>
                  </v-container>
                </v-row>
                <v-container
                  ><v-row class="justify-center">
                    <v-col><h6>รวม</h6></v-col>
                    <v-col
                      ><h6>{{ popupManagement.piece }} ชิ้น</h6></v-col
                    >
                    <v-col
                      ><h6>{{ popupManagement.sum }} บาท</h6></v-col
                    >
                  </v-row></v-container
                >
                <v-divider class="mt-2"></v-divider>
                <v-row class="mt-2">
                  <v-col>
                    <h6>
                      <v-text-field
                        label="หมายเหตุ"
                        variant="solo"
                        v-model="noteText"
                      ></v-text-field>
                    </h6>
                  </v-col>
                </v-row>
              </v-container>
              <v-card-actions>
                <v-btn text @click="cancel"><h6>ยกเลิก</h6></v-btn>

                <v-btn @click="addOrderItem" color="purple" text
                  ><h6>ตกลง</h6></v-btn
                >

                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-dialog>
  </v-row>
</template>

<style scoped>
table {
  background-color: antiquewhite;
}

img {
  margin: 20px 20px;
}
</style>
