<script lang="ts" setup>
import { usemanagePopupStore } from "@/stores/popupManagement";
import { useTableStore } from "@/stores/table";
import { useOrderStore } from "@/stores/orders";
import { useFoodQueueStore } from "@/stores/foodQueue";
import { computed, onMounted, ref, watch } from "vue";
const orderStore = useOrderStore();
const foodQueueStore = useFoodQueueStore();
const menu = ref(0);

const props = withDefaults(
  defineProps<{
    id: number;
    name: string;
    amount: number;
    total: any;
  }>(),
  {}
);

function getTotal() {
  let total = 0;
  foodQueueStore.payQueue.forEach((element) => {
    total += element.orderItem?.price!;
  });
  return total;
}

onMounted(async () => {
  // await foodQueueStore.getFoodQueueNotUnPaid(tableStore.indexSelected + 1);
  // const x = ref<Food>();

  // x.value = orderStore.ordersNP[props.id]?.orderItems[0]?.food;
  const idOrder = orderStore.ordersNP[props.total]?.id;
  // console.log(idOrder);
  await foodQueueStore.getPayFoodQueue(idOrder, "เสิร์ฟสำเร็จ");
  // console.log(foodQueueStore.payQueue.length);
  menu.value = foodQueueStore.payQueue.length;
  console.log(menu.value);
  // console.log(foodQueueStore.payQueue.length);
  // await orderStore.getAllOrderItemsChef();
});
</script>

<template>
  <v-card
    class="mx-auto"
    max-width="500"
    height="200"
    variant="outlined"
    :disabled="props.total! === 0"
  >
    <v-card-item>
      <div class="text-center">
        <h6 style="font-size: 30pt">โต๊ะที่ {{ props.name }}</h6>
        <h6 style="font-size: 20pt">จำนวนที่นั่ง {{ props.amount }}</h6>
        <h6 style="font-size: 20pt">
          จำนวนเมนูที่สั่ง
          {{ props.total }} เมนู
        </h6>
      </div>
    </v-card-item>
  </v-card>
</template>

<script></script>
