<script setup lang="ts">
import MainView from "@/views/MainView.vue";
import LoginView from "./views/LoginView.vue";
import { ref, computed, onMounted } from "vue";
import { useLoginStore } from "@/stores/Login";
import MessageBox from "./components/MessageBox.vue";
import MainLayout from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/FullLayout.vue";

const loginStore = useLoginStore();
onMounted(() => {
  loginStore.loadData();
});
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <MessageBox></MessageBox>
  <!--props login Name-->
</template>

<style scoped></style>
